[submodule "advanced-programming/agents"]
	path = advanced-programming/agents
	url = git@github.com:ecoal95/agents.git
[submodule "advanced-programming/mas-talk/reveal.js"]
	path = advanced-programming/mas-talk/reveal.js
	url = https://github.com/hakimel/reveal.js/
[submodule "interfaces/final"]
	path = interfaces/final
	url = git@github.com:ecoal95/gii-3-interfaces-final.git
[submodule "computer-networks-i/sockets"]
	path = computer-networks-i/sockets
	url = git@github.com:ecoal95/sockets-2015
[submodule "advanced-programming/ada-final"]
	path = advanced-programming/ada-final
	url = git@github.com:ecoal95/ada-final-2015
