<!doctype html>
<meta charset="utf-8">
<title>Log In</title>
<link rel="stylesheet" href="css/main.css">
<form action="profile.pl" method="POST">
  <p>
    <label for="user_name">Username:</label>
    <input type="text" id="user_name" name="user_name">

  <p>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">

  <p>
    <input type="submit" value="Log In">
    <a href="register.pl" title="Register">Register</a>
    <a href="remember.pl" title="Remember password">Remember password</a>
</form>
