<!doctype html>
<meta charset="utf-8">
<title>Edit your profile</title>
<link rel="stylesheet" href="css/main.css">

<h1>#!USER_NAME!#</h1>
<form action="" method="POST">
  <p>
    <label for="email">Email:<label>
    <input type="email"
           required
           name="email"
           id="email"
           value="#!EMAIL!#">

  <p>
    <label for="address">Address:<label>
    <textarea
           required
           name="address"
           id="address">#!ADDRESS!#</textarea>

  <p>
    <input type="submit"
           name="action"
           value="Update profile">
    <input type="submit"
           name="action"
           value="Delete account"
           onclick="return confirm('Are you sure?')">
    <a href="logout.pl">Log out</a>
</form>
