<!doctype html>
<meta charset="utf-8">
<title>Register</title>
<link rel="stylesheet" href="css/main.css">

<h1>Register</h1>
<form action="" method="POST">
  <p>
    <label for="user_name">Username:</label>
    <input type="text"
           c-pattern="[A-Za-z0-9]+"
           required
           placeholder="jdoe"
           name="user_name"
           id="user_name">

  <p>
    <label for="password">Password:</label>
    <input type="password"
           required
           name="password"
           id="password">

  <p>
    <label for="password_confirmation">Password confirmation:</label>
    <input type="password"
           required
           name="password_confirmation"
           id="password_confirmation">

  <p>
    <label for="email">Email:</label>
    <input type="email"
           required
           placeholder="john@doe.tld"
           name="email"
           id="email">

  <p>
    <label for="address">Address:</label>
    <textarea
           required
           placeholder="Downward Avenue, 3, Los Santos"
           name="address"
           id="address">
    </textarea>

  <p>
    <label for="type">Type:</label>
    <select required name="type">
      <option value="">-- Choose one --</option>
      <option value="teacher">Teacher</option>
      <option value="alumn">Alumn</option>
    </select>

  <p>
    <input type="submit" value="Register">
</form>
