    1232     399.57re       0.22cp         0avio      1524k
       6       0.09re       0.09cp         0avio      1017k   mlocate
       4      25.55re       0.04cp         0avio      1694k   zsh
       2       5.33re       0.03cp         0avio      4689k   elinks
       2       0.02re       0.02cp         0avio       988k   dmesg
      10       4.59re       0.01cp         0avio      2435k   vim
       4       1.31re       0.01cp         0avio      1013k   less
      26      31.34re       0.01cp         0avio      1257k   ***other*
       4      29.09re       0.00cp         0avio       958k   login
      41       0.00re       0.00cp         0avio      1033k   tail
       6       0.04re       0.00cp         0avio       545k   sa
       2       0.47re       0.00cp         0avio      4288k   mutt
      29       0.00re       0.00cp         0avio      1185k   ls
       2       0.02re       0.00cp         0avio       980k   updatedb
      13       0.00re       0.00cp         0avio      1008k   sort
      22     277.81re       0.00cp         0avio         0k   kworker/dying*
       5       0.00re       0.00cp         0avio       546k   last
       2       0.00re       0.00cp         0avio      1024k   locate
      21       0.00re       0.00cp         0avio       993k   du
       4       0.00re       0.00cp         0avio      1709k   troff
       8       0.01re       0.00cp         0avio      1584k   dpkg
       5       1.31re       0.00cp         0avio      1132k   man
       6       0.00re       0.00cp         0avio       936k   uname
       3       0.00re       0.00cp         0avio       546k   lastb
     504       0.04re       0.00cp         0avio      1722k   git
       7       0.11re       0.00cp         0avio      1148k   grep
     257       0.00re       0.00cp         0avio      1802k   zsh*
      68       5.22re       0.00cp         0avio       988k   systemd-udevd*
      26       0.00re       0.00cp         0avio      1146k   man*
      17       0.00re       0.00cp         0avio      1138k   udev-acl.ck
      16       0.00re       0.00cp         0avio       625k   systemd-cgroups
      10       0.17re       0.00cp         0avio      4492k   elinks*
       7       0.00re       0.00cp         0avio       543k   ac
       6       0.00re       0.00cp         0avio       995k   getent
       6       0.00re       0.00cp         0avio       936k   basename
       6       0.00re       0.00cp         0avio       606k   agetty*
       5       0.09re       0.00cp         0avio      1513k   systemctl
       4       0.00re       0.00cp         0avio      1468k   userdel
       4       0.00re       0.00cp         0avio       568k   nroff
       4       0.00re       0.00cp         0avio       905k   groff
       4       0.00re       0.00cp         0avio      1372k   grotty
       4       0.00re       0.00cp         0avio      1285k   preconv
       4       0.00re       0.00cp         0avio      1465k   userdel*
       4       0.00re       0.00cp         0avio       938k   locale
       4       0.00re       0.00cp         0avio       938k   cut
       4       0.00re       0.00cp         0avio       568k   sh
       4       0.00re       0.00cp         0avio       568k   pam-foreground-
       4       0.00re       0.00cp         0avio       568k   pam-foreground-*
       3      16.86re       0.00cp         0avio      7840k   rsyslogd
       3       0.08re       0.00cp         0avio       741k   systemd-tty-ask
       3       0.00re       0.00cp         0avio       914k   tbl
       3       0.00re       0.00cp         0avio       338k   accton
       2       0.00re       0.00cp         0avio      2468k   exim4*
       2       0.00re       0.00cp         0avio      1380k   ck-collect-sess
       2       0.00re       0.00cp         0avio      1266k   systemd*
       2       0.00re       0.00cp         0avio      1148k   sed
       2       0.00re       0.00cp         0avio      1138k   mkdir
       2       0.00re       0.00cp         0avio       990k   rm
       2       0.00re       0.00cp         0avio       568k   source-muttrc.d
